<div>
<!-- user info section -->
    user info
</div>
<div>
<!--post image section -->
    image
</div>
<div>
    <!--post like,button section -->
    like button
</div>
<div>
    <!--post like count section -->
    like : 1
</div>

<div>
<!--post description section -->

<%= post.title%>    
<br>
<br>
<%= post.body%>
</div>
<div>
<!-- comment input section -->
    comment input
</div>
<div>
<!-- comment list section -->
    comment list
</div>

