<style>
  .container {
    text-align: center;
    display:flex;
  }
  .content-item {
    width: 700px;
    display: flex;
    flex-direction: column;
  }
  .user-item{
    width : 350px;
    display:flex;
    flex-direction: column;
  }
  .post_form{
    margin : 2px auto;
  }
  .user_section{
    margin : 3px auto;
  }
</style>
 
<div class ="container">
  <div class="content-item" style="background:aqua">
    <%if current_user.present?%>
      <% if @post.size ==0%>
        <div>
          게시물이 없습니다.
        </div>
      <%else%>
        <div class=list-group>
        <%@post.each do |post|%>
          <div class="list-group-item list-group-item-action bg-light ">
            <%= render 'form', post: post %>
          </div>
        <%end%>
        </div>
      <%end%>
    <%else%>
      <div>
        로그인이 필요합니다.
      </div>
    <%end%>
  </div>
  <div class ="user-item" style="background:orange">
    <div class ="user_section">
      <div class ="user_image">
        sdfsdf
      </div>
      <div class ="user_info">
        <%if current_user.present?%>
         <%=current_user.email%>
        <%else%>
          로그인이 필요합니다.
        <%end%>
      </div>
    </div>
  <div>
</div>