<style>
  .container {
    text-align: center;
    display:flex;
  }
  .content-item {
    width: 750px;
    display: flex;
    flex-direction: column;
  }
  .user-item{
    width : 300px;
    display:flex;
    flex-direction: column;
  }
</style>
<div class ="container">
  <div class="content-item">
    ww
  </div>
  <div class ="user-item">
    asdfadsf
  <div>
</div>