
<% comment ||= nil %>
<% if comment %>
  <div class="list-group-item post-content-body-margin" id="comment-<%= comment.id %>">
    <div class="row">
      <div class="text-weight"><%= comment.user&.email %></div>
      &nbsp;
      <div class="text-content-weight"><%= comment.body %></div>
    </div>
  </div>
<% end %>